body {
  text-align: center;
  background-color: rgba(193, 182, 182, 0.128);
  margin: 50px;
}

#dice-image {
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  margin-top: 20px;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 10px 35px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
